__pycache__/
*.pyc
*.pyo
*.sqlite3
.pytest_cache/
.mypy_cache/

backend/.env
backend/logs/
backend/media/
backend/staticfiles/
backend/venv/

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/*.tsbuildinfo

.env.docker
.vscode/
